.header-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  width: 100vw;
  width: 99.9%;
  margin: auto;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.header {
  background-color: #9da3a3;
}

.user-position {
  font-size: large;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
  width: 99.9%;
  margin: auto;
  font: lighter;
  font-family: sans-serif;
  padding-bottom: 10px;
  margin-left: 40px;
}

.no-logon-header {
  padding: 5px 60px 5px 50px;
}

.btn-div {
  padding: 22px 60px 15px 50px;
  color: white;
}

.logo-display {
  padding: 22px 50px 15px 60px;
}

.header-btn:hover {
  background-color: hsl(210, 4%, 55%);
}

.header-btn {
  color: #272727;
  /* width: 15%; */
  border-radius: 10px;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 4%;
  background-color: #b8d8d8;
  margin: 15px;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: white;
  font-family: "Montserrat", sans-serif;
}

.navMenu a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 80px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  color: #fddb3a;
}

.navMenu .dot {
  width: 6px;
  height: 6px;
  background: #fddb3a;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(110px);
  transform: translateX(110px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
  -webkit-transform: translateX(200px);
  transform: translateX(200px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(4):hover ~ .dot {
  -webkit-transform: translateX(285px);
  transform: translateX(285px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.logo {
  display: flex;
}

.logo img {
  float: left;
  margin: 10px;
  width: 5%;
  height: 4%;
  border-radius: 5px;
}

p {
}
