.body-div {
  height: 95vh;
  width: 100vw;
  /* background-color: #4f6367; */
  position: absolute;
  place-content: center;
  /* background-image: url("chessbackground.jpeg"); */
  position: absolute;
  background-position: center;
  /* background-repeat: no-repeat; */
  background-size: cover;
  overflow-x: hidden;
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  margin-top: px;
}

.home-btn {
  width: 30%;
  background-color: white;
  border: 1px white solid;
  margin: 15px;
}

.home-btn:hover {
  background-color: hsl(210, 4%, 55%);
}

.home-btn {
  color: #272727;
  font-weight: 900;
  font-size: 24px;
  width: 50%;
  border: 2px solid #272727;
  border-radius: 10px;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  background-color: hsla(120, 3%, 35%, 0.589);
  margin-right: 10px;
}

.header img {
  float: left;
  width: 5%;
  height: 3%;
  background: #555;
  border-radius: 7px;
  margin: 10px;
}
