.buttonWrapper {
  display: flex;
  flex-direction: column;
}

.home-btn {
  width: 100%;
  background-color: white;
  border: 1px white solid;
  margin: 4px;
}

.home-btn:hover {
  background-color: hsl(210, 4%, 55%);
}

.home-btn {
  color: rgb(255, 255, 255);
  width: 20%;
  border: 2px solid #000;
  border-radius: 10px;
  /* outline: none; */
  padding: 8px;
  box-sizing: border-box;
  background-color: black;
  margin-right: 10px;
}
