.previous-game {
  display: flex;
  flex-direction: row;
}
.chessboard-snapshot {
  position: absolute;
  right: 0;
}

.saved-components {
  display: flex;
  flex-direction: column;
}

.leaderboard {
  max-width: 490px;
  width: 100%;
  border-radius: 12px;
}

.leaderboard__title {
  position: absolute;
  z-index: 2;
  top: 50%;
  right: calc(var(--start) * 0.75);
  transform: translateY(-50%);
  text-transform: uppercase;
  margin: 0;

  display: block;
}

.leaderboard__icon {
  fill: #fff;
  opacity: 0.35;
  width: 50px;
  position: absolute;
  top: 50%;
  left: var(--start);
  transform: translate(-50%, -50%);
}

body {
  margin: 0;
  background-color: #eaeaea;
  display: grid;
  height: 100vh;
  place-items: center;
  font-family: "Source Sans Pro", sans-serif;
}

.leaderboard {
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.4);
}
